
@{
    ViewBag.Title = "Index";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h2>My Hub!</h2>

@Html.ActionLink("Preview Application", "MyInfo", "MyHUB")
@Html.ActionLink("Edit Application", "EditApplication", "MyHUB")