<div class="jumbotron">
    <h1 style="text-decoration-line:underline; font-size:5.5em;">Pops Animal Control API</h1>
    @*PopsImgGoesHere*@
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Key Features:</h2>
        <p>
            <strong>
               - This is an Api that is designed to allow new applicants to fill out a job applications,
                And be hired by Human Resources Employees to speciffic Departments/Positions.
            </strong>
            <div>
                <strong>- The Positions are:</strong>
                <ol>
                    <li>HouseKeeper</li>
                    <li>Veterinarian</li>
                    <li>Vet Tech</li>
                    <li>Cat Catcher</li>
                    <li>Dog Catcher</li>
                    <li>Pokemon Catcher</li>
                    <li>Secretary</li>
                    <li>Management</li>
                </ol>
            </div>
        </p>
    </div>
    <div class="col-md-4" style="margin-top:65px">
        <strong>- There are Endpoints deigned to Enlist Captured Animals via Report(s):</strong>
       
        <div style="margin-top:20px">
            <ol>
                <li>Cat Catcher Reports</li>
                <li>Dog Catcher Reports</li>
                <li>Pokemon Catcher Reports</li>
            </ol>
        </div>
        <div>
            <strong>- All of the Animal Types are dynamically Added to the database through the Reports!</strong>
        </div>
    </div>
    <div class="col-md-4"  style="margin-top:60px">
        <strong>- Pokemon data is also retrived via <a href="https://pokeapi.co/">PokeAPI</a> For pokemon information!</strong>
      
    </div>
</div>
