@model IEnumerable<PopsAnimalControl_MVC.Models.ViewModels.DogCatcherViewModels.DogCatcherListItem>

@{
    ViewBag.Title = "Index";
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<hr />
<h1>Enrolled Dog Catchers:</h1>

@foreach (var item in Model)
{
    @Html.Partial("_DogCatchersList", item)
}

