@model IEnumerable<PopsAnimalControl_MVC.Models.ViewModels.CatCatcherViewModels.CatCatcherListItem>

@{
    ViewBag.Title = "Index";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<hr />
<h1>Enrolled Cat Catchers:</h1>

@if (Model.Count() <= 0)
{
    <p>There are no Enrolled Cat Catchers at this time.</p>
}
else
{
    foreach (var item in Model)
    {
        @Html.Partial("_CatCatcherListItems",item)
    }
}
